<h1 style="color:red;">Data Loading, Exploration and Preprocessing</h1>

In [1231]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from sklearn.preprocessing import MinMaxScaler
import os
import json

<h1 style="color:blue;">Extracting Data from db</h1>

In [1234]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/snapreserve")

<h3>Extract user data</h3>

In [1237]:
TIMESTAMP_FILE = os.path.abspath(
    os.path.join(os.getcwd(), "..", "..", ".last_extraction.json")
)
print(TIMESTAMP_FILE)
print("Exists?", os.path.exists(TIMESTAMP_FILE))
def load_last_timestamps():
    if os.path.exists(TIMESTAMP_FILE):
        with open(TIMESTAMP_FILE, "r") as f:
            return json.load(f)
    return {}

def save_last_timestamps(timestamps):
    with open(TIMESTAMP_FILE, "w") as f:
        json.dump(timestamps, f)

C:\Users\wiemb\SnapReserve\SnapReserve-Backend\.last_extraction.json
Exists? True

In [1239]:
last_ts = load_last_timestamps()
last_user_ts = last_ts.get("users")
last_ticket_ts = last_ts.get("tickets")
last_event_ts = last_ts.get("events")

In [1241]:
def get_age_group(birthdate):
    if pd.isnull(birthdate):
        return None
    
    today = date.today()
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

    if age < 18:
        return None
    elif 18 <= age <= 25:
        return "18-25"
    elif 26 <= age <= 35:
        return "26-35"
    elif 36 <= age <= 50:
        return "36-50"
    else:
        return "50+"

In [1243]:
role_query = "SELECT DISTINCT role FROM users"
roles_df = pd.read_sql(role_query, con=engine)
print(roles_df)

        role
0   attendee
1  organizer

In [1245]:
if "users" not in last_ts:
    last_user_ts = None

user_query = f"""
    SELECT id AS user_id, gender, birth_date, created_at
    FROM users
    WHERE role = 'attendee'
    {"AND created_at > '" + last_user_ts + "'" if last_user_ts else ""}
"""
db_users = pd.read_sql(user_query, con=engine)

db_users.info()
db_users['gender'] = db_users['gender'].str.lower().str.strip()
db_users['birth_date'] = pd.to_datetime(db_users['birth_date'], errors='coerce')
db_users['age_group'] = db_users['birth_date'].apply(get_age_group)


db_users = db_users.dropna(subset=['age_group', 'gender'])
db_users = db_users.drop(columns=['birth_date'])

db_users['role'] = 'attendee'


db_users['user_id'] = db_users['user_id'].astype(str)

users_encoded = db_users[['user_id', 'gender', 'age_group', 'role']]
print("----------------------------------------------------------------------")
print(db_users.info())
print("----------------------------------------------------------------------")
print(db_users.head())
print("----------------------------------------------------------------------")
print("\nShape:", db_users.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     0 non-null      object
 1   gender      0 non-null      object
 2   birth_date  0 non-null      object
 3   created_at  0 non-null      object
dtypes: object(4)
memory usage: 132.0+ bytes
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     0 non-null      object
 1   gender      0 non-null      object
 2   created_at  0 non-null      object
 3   age_group   0 non-null      datetime64[ns]
 4   role        0 non-null      object
dtypes: datetime64[ns](1), object(4)
memory usage: 132.0+ bytes
None
----------------------------------------------------------------------
Empty DataFrame
Columns: [user_id, gender, created_at, age_group, role]
Index: []
----------------------------------------------------------------------

Shape: (0, 5)

<h3>Extract event data</h3>

In [1248]:
event_query = f"""
    SELECT 
        e.id AS event_id,
        e.category,
        ed.date AS event_date,
        e."createdAt",
        COUNT(t.id)::float AS popularity_score
    FROM "events" e
    JOIN "eventDate" ed ON e.id = ed."eventId"
    LEFT JOIN "Ticket" t ON e.id = t."eventId" AND DATE(t.date) = DATE(ed.date)
    {"WHERE e.\"createdAt\" > '" + last_event_ts + "'" if last_event_ts else ""}
    GROUP BY e.id, e.category, ed.date, e."createdAt"
"""

db_events = pd.read_sql(event_query, engine)
db_events.info()
db_events = db_events[['event_id', 'category', 'popularity_score', 'event_date', 'createdAt']]

db_events['event_date'] = pd.to_datetime(db_events['event_date'], errors='coerce')  # step 1
db_events['event_date'] = db_events['event_date'].dt.normalize()                   # step 2 (remove time)

db_events['is_weekend'] = db_events['event_date'].dt.dayofweek >= 5

db_events['event_id'] = db_events['event_id'].astype(str)
db_events['category'] = db_events['category'].astype(str)
print("----------------------------------------------------------------------")
print(db_events.head())
print("----------------------------------------------------------------------")
print("\nShape:", db_events.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_id          0 non-null      object
 1   category          0 non-null      object
 2   event_date        0 non-null      object
 3   createdAt         0 non-null      object
 4   popularity_score  0 non-null      object
dtypes: object(5)
memory usage: 132.0+ bytes
----------------------------------------------------------------------
Empty DataFrame
Columns: [event_id, category, popularity_score, event_date, createdAt, is_weekend]
Index: []
----------------------------------------------------------------------

Shape: (0, 6)

<h3>Extract interactions data</h3>

In [1251]:
ticket_query = f"""
    SELECT 
        "userId" AS user_id,
        "eventId" AS event_id,
        "createdAt"
    FROM "Ticket"
    {"WHERE \"createdAt\" > '" + last_ticket_ts + "'" if last_ticket_ts else ""}
"""


db_interactions = pd.read_sql(ticket_query, con=engine)

db_interactions.info()
db_interactions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    5 non-null      object
 1   event_id   5 non-null      object
 2   createdAt  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 252.0+ bytes

,user_id,event_id,createdAt
0,cmeacur5r0014gbzgwwxfxg1w,cmeaboyn5000fgbzgmgckw5xu,2025-08-13 19:24:13.605
1,cmeacur5r0014gbzgwwxfxg1w,cmeaboyn5000fgbzgmgckw5xu,2025-08-13 19:24:13.617
2,cmeacur5r0014gbzgwwxfxg1w,cmeaboyn5000fgbzgmgckw5xu,2025-08-13 19:24:13.631
3,cmeacur5r0014gbzgwwxfxg1w,cmeaboyn5000fgbzgmgckw5xu,2025-08-13 19:24:13.644
4,cmeacur5r0014gbzgwwxfxg1w,cmeaboyn5000fgbzgmgckw5xu,2025-08-13 19:24:13.656

<h1 style="color:blue;">Processing data</h1>

<h2>Encode categorical columns</h2> <p>Replicate the logic that was used on the CSV file</p>

In [1255]:
db_users['gender'] = pd.Categorical(db_users['gender'], categories=['male', 'female']).codes
db_users['age_group'] = db_users['age_group'].astype('category').cat.codes
db_users['role'] = db_users['role'].astype('category').cat.codes

In [1257]:
db_events['event_date'] = pd.to_datetime(db_events['event_date'], errors='coerce').dt.date

<h2>Scale popularity_score</h2>

In [1260]:
if not db_events.empty:
    scaler = MinMaxScaler()
    db_events['popularity_score'] = scaler.fit_transform(db_events[['popularity_score']])
else:
    print("Warning: db_events is empty. Skipping scaling step.")

Warning: db_events is empty. Skipping scaling step.

In [1262]:
print("\nCleaned Users Sample:")
print(users_encoded.head())

print("\nCleaned Events Sample:")
print(db_events.head())

print("\nCleaned Interactions Sample:")
print(db_interactions.head())

Cleaned Users Sample:
Empty DataFrame
Columns: [user_id, gender, age_group, role]
Index: []

Cleaned Events Sample:
Empty DataFrame
Columns: [event_id, category, popularity_score, event_date, createdAt, is_weekend]
Index: []

Cleaned Interactions Sample:
                     user_id                   event_id  \
0  cmeacur5r0014gbzgwwxfxg1w  cmeaboyn5000fgbzgmgckw5xu
1  cmeacur5r0014gbzgwwxfxg1w  cmeaboyn5000fgbzgmgckw5xu
2  cmeacur5r0014gbzgwwxfxg1w  cmeaboyn5000fgbzgmgckw5xu
3  cmeacur5r0014gbzgwwxfxg1w  cmeaboyn5000fgbzgmgckw5xu
4  cmeacur5r0014gbzgwwxfxg1w  cmeaboyn5000fgbzgmgckw5xu

                createdAt
0 2025-08-13 19:24:13.605
1 2025-08-13 19:24:13.617
2 2025-08-13 19:24:13.631
3 2025-08-13 19:24:13.644
4 2025-08-13 19:24:13.656

In [1264]:
# Load the existing timestamps
timestamps = load_last_timestamps()

# Only update the ones we have data for
if not db_users.empty:
    timestamps['users'] = db_users['created_at'].max().isoformat()

if not db_events.empty:
    timestamps['events'] = db_events['createdAt'].max().isoformat()

if not db_interactions.empty:
    timestamps['tickets'] = db_interactions['createdAt'].max().isoformat()

# Save the merged result
save_last_timestamps(timestamps)

In [1266]:
db_users.drop(columns=['created_at'], inplace=True, errors='ignore')
db_events.drop(columns=['createdAt'], inplace=True, errors='ignore')
db_interactions.drop(columns=['createdAt'], inplace=True, errors='ignore')

# Append new data to existing CSVs
db_users.to_csv("synthetic_users.csv", mode='a', index=False, header=False)
db_events.to_csv("synthetic_events.csv", mode='a', index=False, header=False)
db_interactions.to_csv("synthetic_interactions.csv", mode='a', index=False, header=False)