<h1 style="color:red;">Data Loading, Exploration and Preprocessing</h1>

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from sklearn.preprocessing import MinMaxScaler
import os
import json

<h1 style="color:blue;">Extracting Data from db</h1>

In [2]:
engine = create_engine("postgresql://postgres:postgres@localhost:5433/snapreserve")

<h3>Extract user data</h3>

In [3]:
TIMESTAMP_FILE = ".last_extraction.json"

def load_last_timestamps():
    if os.path.exists(TIMESTAMP_FILE):
        with open(TIMESTAMP_FILE, "r") as f:
            return json.load(f)
    return {}

def save_last_timestamps(timestamps):
    with open(TIMESTAMP_FILE, "w") as f:
        json.dump(timestamps, f)

In [4]:
last_ts = load_last_timestamps()
last_user_ts = last_ts.get("users")
last_ticket_ts = last_ts.get("tickets")
last_event_ts = last_ts.get("events")

In [5]:
def get_age_group(birthdate):
    if pd.isnull(birthdate):
        return None
    
    today = date.today()
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

    if age < 18:
        return None
    elif 18 <= age <= 25:
        return "18-25"
    elif 26 <= age <= 35:
        return "26-35"
    elif 36 <= age <= 50:
        return "36-50"
    else:
        return "50+"

In [6]:
user_query = f"""
    SELECT id AS user_id, gender, birth_date, created_at
    FROM users
    {"WHERE created_at > '" + last_user_ts + "'" if last_user_ts else ""}
"""
db_users = pd.read_sql(user_query, con=engine)

db_users.info()
db_users['gender'] = db_users['gender'].str.lower().str.strip()
db_users['birth_date'] = pd.to_datetime(db_users['birth_date'], errors='coerce')
db_users['age_group'] = db_users['birth_date'].apply(get_age_group)


db_users = db_users.dropna(subset=['age_group', 'gender'])
db_users = db_users.drop(columns=['birth_date'])

db_users['role'] = 'attendee'


db_users['user_id'] = db_users['user_id'].astype(str)

users_encoded = db_users[['user_id', 'gender', 'age_group', 'role']]
print("----------------------------------------------------------------------")
db_users.info()
print("----------------------------------------------------------------------")
db_users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     3 non-null      object
 1   gender      2 non-null      object
 2   birth_date  2 non-null      datetime64[ns]
 3   created_at  3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 228.0+ bytes
----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     2 non-null      object
 1   gender      2 non-null      object
 2   created_at  2 non-null      datetime64[ns]
 3   age_group   2 non-null      object
 4   role        2 non-null      object
dtypes: datetime64[ns](1), object(4)
memory usage: 96.0+ bytes
----------------------------------------------------------------------

,user_id,gender,created_at,age_group,role
0,cmdj115xx0000gbikpf0aw2se,female,2025-07-25 16:19:31.787,18-25,attendee
1,cmdj139f30005gbika35k4jov,female,2025-07-25 16:21:09.614,18-25,attendee

<h3>Extract event data</h3>

In [7]:
event_query = f"""
    SELECT 
        e.id AS event_id,
        e.category,
        ed.date AS event_date,
        e."createdAt",
        COUNT(t.id)::float AS popularity_score
    FROM "events" e
    JOIN "eventDate" ed ON e.id = ed."eventId"
    LEFT JOIN "Ticket" t ON e.id = t."eventId" AND DATE(t.date) = DATE(ed.date)
    {"WHERE e.\"createdAt\" > '" + last_event_ts + "'" if last_event_ts else ""}
    GROUP BY e.id, e.category, ed.date, e."createdAt"
"""

db_events = pd.read_sql(event_query, engine)
db_events.info()
db_events = db_events[['event_id', 'category', 'popularity_score', 'event_date', 'createdAt']]

db_events['event_date'] = pd.to_datetime(db_events['event_date'], errors='coerce')  # step 1
db_events['event_date'] = db_events['event_date'].dt.normalize()                   # step 2 (remove time)

db_events['is_weekend'] = db_events['event_date'].dt.dayofweek >= 5

db_events['event_id'] = db_events['event_id'].astype(str)
db_events['category'] = db_events['category'].astype(str)
print("----------------------------------------------------------------------")
print(db_events.head())
print("----------------------------------------------------------------------")
print("\nShape:", db_events.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_id          3 non-null      object
 1   category          3 non-null      object
 2   event_date        3 non-null      datetime64[ns]
 3   createdAt         3 non-null      datetime64[ns]
 4   popularity_score  3 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 252.0+ bytes
----------------------------------------------------------------------
                    event_id  category  popularity_score event_date  \
0  cmdryq75c000ggb6sybjh54ik  Workshop               0.0 2026-07-23
1  cmdrynwbq0006gb6sfg7vig9e   Concert               4.0 2026-07-28
2  cmdryoz04000bgb6s6v26zjyr     Movie              29.0 2026-07-21

                createdAt  is_weekend
0 2025-07-31 22:24:56.497       False
1 2025-07-31 22:23:09.159       False
2 2025-07-31 22:23:59.284       False
----------------------------------------------------------------------

Shape: (3, 6)

<h3>Extract interactions data</h3>

In [8]:
ticket_query = f"""
    SELECT 
        "userId" AS user_id,
        "eventId" AS event_id,
        "createdAt"
    FROM "Ticket"
    {"WHERE \"createdAt\" > '" + last_ticket_ts + "'" if last_ticket_ts else ""}
"""


db_interactions = pd.read_sql(ticket_query, con=engine)

db_interactions.info()
db_interactions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    33 non-null     object
 1   event_id   33 non-null     object
 2   createdAt  33 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 924.0+ bytes

,user_id,event_id,createdAt
0,cmdj139f30005gbika35k4jov,cmdryoz04000bgb6s6v26zjyr,2025-07-31 22:35:20.558
1,cmdj139f30005gbika35k4jov,cmdryoz04000bgb6s6v26zjyr,2025-07-31 22:35:20.587
2,cmdj139f30005gbika35k4jov,cmdryoz04000bgb6s6v26zjyr,2025-07-31 22:35:20.614
3,cmdj139f30005gbika35k4jov,cmdryoz04000bgb6s6v26zjyr,2025-07-31 22:42:04.195
4,cmdj139f30005gbika35k4jov,cmdryoz04000bgb6s6v26zjyr,2025-07-31 22:42:04.231

<h1 style="color:blue;">Processing data</h1>

<h2>Encode categorical columns</h2> <p>Replicate the logic that was used on the CSV file</p>

In [9]:
db_users['gender'] = pd.Categorical(db_users['gender'], categories=['male', 'female']).codes
db_users['age_group'] = db_users['age_group'].astype('category').cat.codes
db_users['role'] = db_users['role'].astype('category').cat.codes

In [10]:
db_events['event_date'] = pd.to_datetime(db_events['event_date'], errors='coerce').dt.date

<h2>Scale popularity_score</h2>

In [11]:
if not db_events.empty:
    scaler = MinMaxScaler()
    db_events['popularity_score'] = scaler.fit_transform(db_events[['popularity_score']])
else:
    print("Warning: db_events is empty. Skipping scaling step.")

In [12]:
print("\nCleaned Users Sample:")
print(users_encoded.head())

print("\nCleaned Events Sample:")
print(db_events.head())

print("\nCleaned Interactions Sample:")
print(db_interactions.head())

Cleaned Users Sample:
                     user_id  gender age_group      role
0  cmdj115xx0000gbikpf0aw2se  female     18-25  attendee
1  cmdj139f30005gbika35k4jov  female     18-25  attendee

Cleaned Events Sample:
                    event_id  category  popularity_score  event_date  \
0  cmdryq75c000ggb6sybjh54ik  Workshop          0.000000  2026-07-23
1  cmdrynwbq0006gb6sfg7vig9e   Concert          0.137931  2026-07-28
2  cmdryoz04000bgb6s6v26zjyr     Movie          1.000000  2026-07-21

                createdAt  is_weekend
0 2025-07-31 22:24:56.497       False
1 2025-07-31 22:23:09.159       False
2 2025-07-31 22:23:59.284       False

Cleaned Interactions Sample:
                     user_id                   event_id  \
0  cmdj139f30005gbika35k4jov  cmdryoz04000bgb6s6v26zjyr
1  cmdj139f30005gbika35k4jov  cmdryoz04000bgb6s6v26zjyr
2  cmdj139f30005gbika35k4jov  cmdryoz04000bgb6s6v26zjyr
3  cmdj139f30005gbika35k4jov  cmdryoz04000bgb6s6v26zjyr
4  cmdj139f30005gbika35k4jov  cmdryoz04000bgb6s6v26zjyr

                createdAt
0 2025-07-31 22:35:20.558
1 2025-07-31 22:35:20.587
2 2025-07-31 22:35:20.614
3 2025-07-31 22:42:04.195
4 2025-07-31 22:42:04.231

In [13]:
new_timestamps = {}

if not db_users.empty:
    new_timestamps['users'] = db_users['created_at'].max().isoformat()

if not db_events.empty:
    new_timestamps['events'] = db_events['createdAt'].max().isoformat()

if not db_interactions.empty:
    new_timestamps['tickets'] = db_interactions['createdAt'].max().isoformat()

save_last_timestamps(new_timestamps)

In [14]:
db_users.drop(columns=['created_at'], inplace=True, errors='ignore')
db_events.drop(columns=['createdAt'], inplace=True, errors='ignore')
db_interactions.drop(columns=['createdAt'], inplace=True, errors='ignore')

# Append new data to existing CSVs
db_users.to_csv("synthetic_users.csv", mode='a', index=False, header=False)
db_events.to_csv("synthetic_events.csv", mode='a', index=False, header=False)
db_interactions.to_csv("synthetic_interactions.csv", mode='a', index=False, header=False)